@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {

    /* font fmaily */
    --font-family-reg: 'Lato';

    /* background color */
    --bg-color: #232323;

    /* colors */
    --primary-color: #121212;
    --secondary-color: #1E1E1E;
    --accent-color: #232323;
    --neutral-color: #393939;
    --text-color: #232323;
    --white-color: #b4b1b1;
    --red-color: #F04445;
    --yellow-color: #FFC260;

}